$white: #FFF;

$light-grey: #f2f2f2;
$dark-grey: #4D4D4D;
$rfn-green: #056330;
$sky-captain: #1D79B4;
$orange-juice: #DB542E;

$second-orange: #D95537;

$night-blue: #1F2D39;

$primary-color: $night-blue;
$secondary-color: $orange-juice;

$link-color: $sky-captain;
$link-visited: $orange-juice;
$link-active: $orange-juice;

$font-family-heading: "Baton", Arial, sans-serif;


/** utility clearfix from nicolas gallagher. this is what Bootstrap uses and it is so elegant <3 **/
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
